:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: rgb(132, 61, 232);
}
button:active {
  border-color: #396cd8;
  background-color: #0f0f0f69;
}

input,
button {
  outline: none;
}

#decks {
  left: 15%;
}
#decks button {
  left: 10%;
  top: 25%;
}
#decksList {
  display: grid;
  gap: 5px;
  grid-template-columns: 125px;
}
#models {
  left: 40%;
}
#modelsList {
  left: -25%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 125px [col-start]);
}
.dropDownContainer {
  position: absolute;
  top: 15%;
  transform: translate(-50%, 0%);
}

.dropListClass {
  overflow-y: scroll;
  height: 400px;
  position: absolute;
  top: 150%;
  /* padding: 5px; */
}
.dropListClass button {
  display: block;
  gap: 50px;
  /* transform: translate(-50%, 0%); */

}
.dropListClass button :hover {
  color: darkslateblue;
}

.show {
  display: block;
}

.findAndReplace {
  display: inline-block;
  font-size: large;
  position: absolute;
  left: 75%;
  top: 15%;
  transform: translate(-50%, 0%);
}
.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  color: #d4cede;
}
button {
  color: #d4cede;
}

#error {
  position: absolute;
  color: rgb(211, 95, 95);
  left: 75%;
  top: 90%;
  transform: translate(-50%, 0%);
  width: 90%;
  /* line-height: 50px; */
  font-size: 18px;
}
.selected {
  background-color: #646cff;
  color: #2f2f2f;
  /* font-weight: bold; */
}
.selected:hover {
  background-color: #898fff;
  border-color: #d4cede;
}

#exportMessage {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 0%);
}

.code {
    font-family: Monaco, monospace;
    line-height: 100%;
    background-color:#211e24;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 5px;
  }
#submitQuery:hover {
  border-color: rgb(132, 61, 232);
}
#wait {
  position: absolute;
  top: 90%;
  left: 75%;
  transform: translate(-50%, 0%);
  font-size: 3em;
  color: greenyellow;
  /* display: none; */
}

#server_port {
  display: grid;
  grid-template-columns: repeat(2, 150px [col-start]);
  position: absolute;
  top: 12%;
  left: 8%;
  width: 4em;
}
#server input {
  width: 50%;
}
#port input {
  width: 25%;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2f2f2f;
}
::-webkit-scrollbar-thumb {
  background: #4c4a4e;
}